:root {
	--color-1: #17252a;
	--color-2: #2b717b;
	--color-3: #3aafa9;
	--color-4: #def2f1;
	--color-5: #feffff;
}

a:hover{
	text-decoration: none;
}

.container-fluid {
	margin: 0 0;
	padding: 0 0;
}

.header {
	text-align: center;
	background-color: var(--color-3);
	font-size: 2rem;
}

.header a {
	color: var(--color-1);
}

.header a:hover {
	color: var(--color-2);
}

#content {
	margin: 0 10%;
}

.category-pane, .recipe-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.category, .recipe-card {
	flex: 0 0 auto;
	width: 10em;
	text-align: center;
	border: solid var(--color-1);
	margin: 10px 5px;
}

.category:hover, .recipe-card:hover {
	background-color: var(--color-4);
}

.category p, .recipe-card p {
	vertical-align: middle;
	margin-top: 1em;
	margin-bottom: 1em;
	color: var(--color-1);
}
